.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}

@mixin input {
    font-size: 18px;
    width: 200px;
    height: 50px;
}


.input-nickname {
    @include input;
}

.input-uid {
    @include input;
}

.input-password {
    @include input;
}